@font-face {
  font-family: Poppins;
  src: url("/fonts//Poppins-SemiBold.ttf");
  font-weight: 400, 600;
}
@font-face {
  font-family: open-sans;
  src: url("/fonts//OpenSans-VariableFont_wdth\,wght.ttf");
  font-weight: 400, 600;
}
:root {
  margin: 0px;
  padding: 0px;
  border: none;
  --bacground-color: #674bb1;
  max-height: 100vh;
  overflow: hidden;
}
body {
  background-color: var(--bacground-color);
  background-image: url("./images/bg-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}
.text-container {
  width: 30%;
  margin-top: 15%;
  display: inline-block;
  float: right;
  margin-right: 7%;
}
main {
  font-size: 30px;
  display: block;
  font-family: Poppins;
}
sub {
  display: block;
  font-family: open-sans;
  font-size: 0.8em;
}

button {
  outline: none;
  border: none;
  background: white;
}
button.primary {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 30px;
  font-family: open-sans;
  letter-spacing: 0.2rem;
  font-size: 10px;
  color: var(--bacground-color);
}
.container.image-logo {
  margin-left: 5%;
  width: 50%;
  display: inline-block;
  margin-top: 0px;
  height: 100%;
}
.container.image-logo .img {
  height: 100%;
  max-width: 100%;
}
.container.image-logo .img img {
  margin-top: 7%;
  max-height: 70%;
  max-width: 100%;
}
.logo {
  margin-top: 5%;
  height: 40px;
}
.logo img {
  height: 100%;
}
.bottom-icons {
  float: right;
  height: 30px;
  position: absolute;
  bottom: 20px;
  right: 6%;
}
.bottom-icons img {
  height: 100%;
  max-width: 0px 10px;
  margin: 8px;
}
@media screen and (max-width: 768px) {
  .container.image-logo {
    width: 80%;
    height: fit-content;
    display: block;
  }
  .text-container {
    float: none;
    width: 90%;
    margin: 10% 0px 0px 50%;
    transform: translate(-50%, 0%);
    display: block;
    text-align: center;
  }
  main {
    font-size: 6vw;
  }
  sub {
    font-size: 3vw;
  }
  .bottom-icons {
    display: flex;
    justify-content: space-around;
    left: 0px;
    bottom: 20px;
    margin: 0px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    height: 7vw;
  }
}
